<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ol5</title>

    <style>
        th {
            text-align: center
        }

        td {
            text-align: center
        }
    </style>

</head>
<body>
<table border="1" cellspacing="0" cellpadding="1" align="center">
    <tr>
        <th>将领</th>
        <th>兵种</th>
        <th>级别</th>
        <th>第一技能</th>
        <th>第二技能</th>
        <th>第三技能</th>
        <th>第四技能</th>
        <th>第五技能</th>
        <th>血量</th>
        <th>攻击</th>
        <th>护甲</th>
        <th>范围</th>
        <th>移动</th>
        <th>得分</th>
        <th>拥有</th>
        <th>排名</th>
    </tr>
    <tr th:each="info,infoStat : ${emp}">
        <td th:text="${info.name}"></td>
        <td th:text="${info.arm}"></td>
        <td th:text="${info.level}"></td>
        <td th:text="${info.skill1}"></td>
        <td th:text="${info.skill2}"></td>
        <td th:text="${info.skill3}"></td>
        <td>
            <span th:text="${#strings.substringBefore(#strings.append(info.skill4,','),',')}"/>
            <br th:if="${not #strings.isEmpty(#strings.substringAfter(#strings.append(info.skill4,','),','))}">
            <span th:if="${not #strings.isEmpty(#strings.substringAfter(#strings.append(info.skill4,','),','))}"
                  th:text="${#strings.replace(#strings.substringAfter(#strings.append(info.skill4,','),','),',','')}"/>
        </td>
        <td>
            <span th:text="${#strings.substringBefore(#strings.append(info.skill5,','),',')}"/>
            <br th:if="${not #strings.isEmpty(#strings.substringAfter(#strings.append(info.skill5,','),','))}">
            <span
                    th:if="${not #strings.isEmpty(#strings.substringAfter(#strings.append(info.skill5,','),','))}"
                    th:text="${#strings.replace(#strings.substringAfter(#strings.append(info.skill5,','),','),',','')}"/>
        </td>
        <td th:text="${info.blood}"></td>
        <td th:text="${info.attack}"></td>
        <td th:text="${info.armor}"></td>
        <td th:text="${info.scope}"></td>
        <td th:text="${info.move}"></td>
        <td th:text="${info.score}"></td>
        <td th:text="${info.own}"></td>
        <td th:text="${info.rank}"></td>
    </tr>
</table>
</body>
</html>